.object{
	fill: #aaa;
}

.object__panel{
	stroke: black;
	stroke-width: 1.2;
}

.object__name-proto-prefix,
.object__name,
.object__member-text {
	fill: black;
	pointer-events: none;
}

.object__member-rect--own {
	fill: #777;
}

.object__member-rect--own,
.object__member-rect--draggable,
.object__member-rect--dragging,
.object__member-rect--linked,
.dragged-member-rect-copy{
	stroke: black;
	stroke-width: 1;
}

.object__member-rect--draggable{
	fill: red;
}

/*The .proto-chain-root__rect declaration has to follow that for .object__member-rect--draggable in order to override it.*/
.proto-chain-root__rect{
	fill: darkorange;
}

.object__member-rect--dragging,
.dragged-member-rect-copy{
	fill: yellow;
}
.background__cursor--no-drop{
	cursor: no-drop;
}
.object__cursor--droppable{
	cursor: alias
}

.dragged-member-rect-copy{
	pointer-events: none;
	opacity: 0.3;
}

.object__member-rect--linked{
	fill: green;
}
