body{
	background-color: #333;
}

/* Below class styling only was necessary when there were two columns. (when DragTarget was a thing) */
.App {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* #left-column{
	background: pink;
}
#right-column{
	background:yellow;
}
.spacer-column{
	background:lightseagreen;
} */

.congrats{
	pointer-events: none;
	user-select: none;
}

/* .column{
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: space-around;
}


.drop-area{
	background-color: pink;
	width: 400px;
	height: 200px;
	margin: 10px;
} */